* {
  margin: 0;
  padding: 0;
}
/* 
html {
  scroll-behavior: smooth;
} */

html,
body {
  /* font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  /* overflow: hidden !important;
  height: 100vh !important; */
}

.body-fixer {
  overflow: hidden;
}

.main-app-wrapper {
  overflow: hidden;
}
